
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --font-title: "Lora", serif;
   --font: "Lato", sans-serif;
   
   --color: #F4F0EA;
   --color-text: #1F1F1F;
}

body{
    
}

.container{
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 100%;
    }
    .section-two .inner-wrap{
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    
}


@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    
}

a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
}